html,body {
    background-color: black;
    /* color: orangered;   
    object-fit: fill; */
    width:100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
  position: relative;
  height:100%;
}

.container-fluid{
  width: 100%;
  height: auto;
}

img {
  border-radius: 5px;
}

.header {
    width: 45%;
    height:auto;
    background: grey;
    margin-right: 200px;
    margin-left: 200px;
    font-weight: bolder;
    color: black;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header:hover {
    opacity: 0,5;
    background-color: rgb(116, 104, 128);
}

span {
    font-weight: bolder;
    font-style: italic;
}

/* .footer {
    color: orangered;
    background-color: aqua;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
} */

/* .footer:hover {
    background-color: blue;
} */

.quote {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;

}

* {
    box-sizing: border-box;
  }
  
  #myInput {
    /* background-image: url('/css/searchicon.png'); */
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
  }
  
  #searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
  }
  
  #searchResults li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #searchResults li a:hover:not(.header) {
    background-color: #eee;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 10%;
    color: white;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:rgb(85, 119, 136);
  }
  
  footer a {
    color: white;
    text-decoration: underline;
  }
  
  footer a:hover, footer a:focus {
    color: #ae0000;
  }
  
  footer p {
    margin-bottom: 0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/*Style for the raw HTML*/