html,body {
    /* background-color: lightcoral; */
    /* color: orangered;   
    object-fit: fill; */
    width:100%;
    height: 100%;
}

.header {
    background: yellowgreen;
    margin-right: 200px;
    margin-left: 200px;
    font-weight: bolder;
    color: black;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header:hover {
    opacity: 0,5;
    background-color: blueviolet;
}

span {
    font-weight: bolder;
    font-style: italic;
}

/* .footer {
    color: orangered;
    background-color: aqua;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
} */

/* .footer:hover {
    background-color: blue;
} */

.quote {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;

}



* {
    box-sizing: border-box;
  }
  
  #myInput {
    /* background-image: url('/css/searchicon.png'); */
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
  }
  
  #searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
  }
  
  #searchResults li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #searchResults li a:hover:not(.header) {
    background-color: #eee;
  }

/*Style for the raw HTML*/